<h1>New Comment!</h1>
<form action="<%= comments_url %>" method="POST">
<%= auth_token %>
<input type="hidden" name="comment[post_id]" value="<%= params[:post_id]%>">
<label>
Body
<textarea name="comment[content]"></textarea>
</label>
<input type="submit" value="Submit">
</form>